.login-page-component{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: linear-gradient(#141e30, #243b55);
}

.variable-forms{
    margin-top: 5rem;
}

.introduction{
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    color: white;
    // width: min(100%, 500px);
}


.table {
    color: #03e9f4;
}
