<div *ngIf="resetLink" class="reset-link">
    <p>The link to reset your password has been generated. Go to this link to reset your password.</p>
    <a href={{resetLink}}>{{resetLink}}</a>
</div>


<h1>Forgot Password</h1>

<form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
  
  <div *ngIf="isError" class="error">
    User not found
  </div>  
  
  <div class="form-group">
      <label for="inputemail">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="inputemail" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="other-login-components">
    Remebered you details?
    <button class="btn btn-primary" routerLink="../" >Login</button>

    Don't have an account?
    <button class="btn btn-primary" routerLink="../register">Register</button>
    
  </div>

