.reset-link {
    max-width: 20em;
    margin: 1em;
}

.other-login-components{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
    text-align: center;
}