<div class="dashboard-component" *ngIf="user">
    <div class="nav-bar-ghost"></div>

    <div class="user-info">
        <div class="hello-text">
            <h1 class="position-relative">Hi! {{user.name || 'User'}} <span *ngIf="isAdmin" class="badge rounded-pill bg-danger">Admin</span>
            </h1>
            <h4>{{user.email}}</h4>
            <span>
                <button routerLink="./profile" class="btn btn-light">View Profile</button>
                <button *ngIf="isAdmin" routerLink="../admin-panel" class="btn btn-dark">Admin Panel</button>
            </span>
            <p *ngIf="user.facts">Here are <b>{{user.facts.length}}</b> random facts about you:</p>
        </div>
    </div>
    

    <div class="fact-section">
        <div class="card" *ngFor="let fact of user.facts; let i = index">
            <div class="card-body">
                <h5 class="card-title">Fact #{{i+1}}</h5>
                <p class="card-text">{{fact.fact_text}}</p>
                <a routerLink="." (click)="deleteFact(fact.id)" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <div class="new-fact-section">
        <div class="new-fact-section-wrapper">

        
        <h2>Want to add new facts?</h2>
        <form (ngSubmit)="postFact()" [formGroup]="factForm" class="factForm">
            <div class="form-group">
                <label for="formText">New Fact</label>
                <input class="form-control" formControlName="fact_text" id="formText">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>

</div>