<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
    <div class="form-group">
      <label for="inputpassword">Password</label>
      <input type="password" class="form-control" formControlName="password" id="inputpassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputpassword2">Password</label>
        <input type="password" class="form-control" id="inputpassword2" placeholder="Repeat Password">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
